body {
    background: #fafafa;
}

h1 {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 16px 24px;
    box-shadow: 0 0 2px 0 rgba(96, 97, 112, 0.16);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.app-container {
    padding: 24px;
}
